body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}
canvas{
  border: 5px solid #85a5af;
  margin-top: 50px;
}
.sides{
  position: absolute;
  top: 100px;
}
.sides span{
  font-size: 48px;
  font-weight: 800;
}
.score{
  left: 50%;
  margin-left: 280px;
  margin-top: 80px;
  text-align: left;
}
.sides h3{
  margin-bottom: 5px;
}
.level{
  right: 50%;
  margin-right: 280px;
  text-align: right;
}