body{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: sans-serif;
}
canvas{
  border: 5px solid #85a5af;
  margin-top: 50px;
}
.hidden{
  display: none;
  z-index: 0;
}
.intro-cover{
  width: 100vw;
  height: 100vh;
  background:rgb(243, 243, 243);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding-top: 30vh;
}
.blue{color:#2eb2d3;}
.red{color: #d11027;}
.green{color:#23a85a;}
.orange{color:#e86800;}
.title{
  font-size: 60px;
}
.title span{
  margin: -7px;
}
.btn{
  background-color: transparent;
  border: 4px solid #2eb2d3;
  color: rgb(46, 178, 211);
  font-size: 50px;
  padding: 30px 40px;
  transition: all ease .2s;
  border-radius: 20px;

}
.btn:hover{
  cursor: pointer;
  font-size: 54px;
  background-color: rgba(46, 178, 211,.2);
}
.sides{
  position: absolute;
  top: 100px;
}
.sides span{
  font-size: 48px;
  font-weight: 800;
}
.score{
  left: 50%;
  margin-left: 280px;
  margin-top: 80px;
  text-align: left;
}
.sides h3{
  margin-bottom: 5px;
}
.level{
  right: 50%;
  margin-right: 280px;
  text-align: right;
}